.program-represent {
    width: 98.9vw;
    height: 70vh;
    position: relative;
}

.program-represent__image {
    width: 100%;
    height: 100%;
}

.program-info {
    position: absolute;
    top: 130px;
    left: 30px;
    width: 240px;
}

.program-info__title {
    font-size: 30px;

    white-space: nowrap;
}

.program-info__buttons {
    display: flex;
}

.program-info__button {
    background-color: rgba(90, 90, 90, 0.2);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;

    flex-wrap: nowrap;

    margin: 10px 10px 10px 0;
    padding: 5px 30px 5px 30px;

    cursor: pointer;

    white-space: nowrap;
}

.program-info__button:hover {
    background-color: rgba(120, 120, 120, 0.2);
}

.program-info__button:active {
    background-color: rgba(45, 45, 45, 0.2);
}

.program-info__description {
    font-size: 10px;
}

.programs {
    margin-bottom: 20px;
}

.programs__category {
    margin: 10px 0 10px 10px;
}

.programs__box {
    display: flex;
}

.program__image {
    width: 180px;
    height: 270px;
    margin-left: 30px;
}

.program__image:hover {
    transform: scale(1.5);
    cursor: pointer;
}
