.program-represent {
    width: 100vw;
    height: 70vh;
    position: relative;
}

.program-represent__image {
    width: 100vw;
    height: 70vh;
}

.program-info {
    position: absolute;
    top: 130px;
    left: 30px;
    width: 25vw;
}

.program-info__title {
    font-size: 30px;
}

.program-info__button {
    background-color: rgba(97, 93, 93, 0.2);
    border: none;
    color: #ffffff;

    margin: 10px 0 10px 0;
    padding: 5px 30px 5px 30px;
}

.program-info__description {
    font-size: 10px;
}

.programs {
    margin-bottom: 20px;
}

.programs__category {
    margin: 10px 0 10px 10px;
}

.programs__box {
    display: flex;
}

.program__image {
    width: 180px;
    height: 270px;
    margin-left: 30px;
}
